.input {
  height: 40px;
  background-color: white;
  width: 100%;
  border: 1px solid var(--bordercolor);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: black;
  margin-top: 6px;
  padding-left: 12px;
}
.input::placeholder {
  color: var(--placeholder);
  font-weight: 500;
}
.input:focus {
  outline: none;
}
.label {
  font-size: 14px;
  font-weight: 600;
  color: var(--dark);
}
