.main {
  background-color: var(--background);
  min-width: calc(50% - 150px);
  height: 100vh;
  padding: 24px;
  border-left: 1px solid var(--hover);
}
.title {
  font-size: 24px;
  font-weight: 700;
}
.code {
  background-color: var(--dark);
  border-radius: 8px;
  padding: 16px;
  margin-top: 24px;
  min-height: 100px;
  position: relative;
  line-height: 1.2em;
}
.copy {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: none;
  color: #3c72fd;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.copy:hover {
  color: greenyellow;
}
.copied {
  /* background-color: #070a11; */
}
.message {
  font-size: 0.875em;
  font-weight: 600;
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: var(--bordercolor);
  color: var(--background);
  padding: 4px 8px;
  border-radius: 4px;
}
