@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}
:root {
  --dark: #0e1420;
  --hover: #1f252f;
  --background: #121926;
  --bordercolor: #8f9bba;
  --shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism&languages=markup */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

.hljs {
}
/*

Gradient Dark (c) Samia Ali <samiaab1990@gmail.com>

*/
pre {
  padding: 0px !important;
  margin: 0px !important;
}
.hljs {
  display: block !important;
  overflow-x: unset !important;
  padding: 0px !important;
  color: #e7e4eb !important;
  background-color: transparent !important;
  font-size: 14px !important;
  letter-spacing: 0.1px;
}

.hljs-subtr {
  color: #e7e4eb !important;
}

.hljs-doctag,
.hljs-meta,
.hljs-comment,
.hljs-quote {
  color: #af8dd9 !important;
}

.hljs-selector-tag,
.hljs-selector-id,
.hljs-template-tag,
.hljs-regexp,
.hljs-attr,
.hljs-tag {
  color: #aefbff !important;
}

.hljs-params,
.hljs-selector-class,
.hljs-bullet {
  color: #f19fff !important;
}

.hljs-keyword,
.hljs-section,
.hljs-meta-keyword,
.hljs-symbol,
.hljs-type {
  color: #17fc95 !important;
}

.hljs-addition,
.hljs-number,
.hljs-link {
  color: #c5fe00 !important;
}

.hljs-string {
  color: #38c0ff !important;
}

.hljs-attribute,
.hljs-addition {
  color: #e7ff9f !important;
}

.hljs-variable,
.hljs-template-variable {
  color: #e447ff !important;
}

.hljs-builtin-name,
.hljs-built_in,
.hljs-formula,
.hljs-name,
.hljs-title,
.hljs-class,
.hljs-function {
  color: #ffc800 !important;
}

.hljs-selector-pseudo,
.hljs-deletion,
.hljs-literal {
  color: #ff9e44 !important;
}

.hljs-emphasis,
.hljs-quote {
  font-style: italic !important;
}

.hljs-params,
.hljs-selector-class,
.hljs-strong,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-template-tag,
.hljs-section,
.hljs-keyword {
  font-weight: bold !important;
}
.hljs-tag {
  white-space: normal;
}
